<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="TB_erMapper">
	
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into TB_TB_ER(
			W,	
			TB_ER_ID
		) values (
			#{W},	
			#{TB_ER_ID}
		)
	</insert>
	
	
	<!-- 删除-->
	<delete id="delete" parameterType="pd">
		delete from TB_TB_ER
		where 
			TB_ER_ID = #{TB_ER_ID}
	</delete>
	
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd">
		update  TB_TB_ER
			set 
				W = #{W},
			TB_ER_ID = TB_ER_ID
			where 
				TB_ER_ID = #{TB_ER_ID}
	</update>
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultType="pd">
		select 
			W,	
			TB_ER_ID
		from 
			TB_TB_ER
		where 
			TB_ER_ID = #{TB_ER_ID}
	</select>
	
	
	<!-- 列表 -->
	<select id="datalistPage" parameterType="page" resultType="pd">
		select
				a.W,	
				a.TB_ER_ID
		from 
				TB_TB_ER a
	</select>
	
	<!-- 列表(全部) -->
	<select id="listAll" parameterType="pd" resultType="pd">
		select
				a.W,	
				a.TB_ER_ID
		from 
				TB_TB_ER a
	</select>
	
	<!-- 批量删除 -->
	<delete id="deleteAll" parameterType="String">
		delete from TB_TB_ER
		where 
			TB_ER_ID in
		<foreach item="item" index="index" collection="array" open="(" separator="," close=")">
                 #{item}
		</foreach>
	</delete>
	
</mapper>